*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family:   system-ui; 
  font-weight: 500;
  }
body {
  background-color: #0d1117;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}

.film {
  font-size: 16px;
  text-transform: uppercase;
}

.sold-out {
  color: lightgray;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
ul{
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: 5em;
  grid-gap: 0.5em;
  /* background-color: red; */
  max-height: 70vh !important;
  overflow: auto;
  padding: 0.6em !important;
}
li{
  border: 1px solid grey;
  border-radius: 7px;
  display: grid !important;
  gap: 10px;
  padding: 0.5em !important;
  transition: all 0.5s ease-in-out;
}
li:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
li span{
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
}

.movieDelete{
  width: auto;
  padding: 0.4em 0.2em !important;
  border-radius: 7px;
  border: none;
  color: red;
}

::-webkit-scrollbar{
  width: 5px;
  height: 7px;
  }
  ::-webkit-scrollbar-thumb{
  background: linear-gradient( #ff5e0075, #ff5e00);
  border-radius: 10px;
  height: 60%;
  
  }
  ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient( transparent, #00c6ff);
  height: 60%;
  }

  #poster{
    width: 300px;
    height: 400px;
    border-radius: 20px;
  }